.containAll {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.containAll .github {
    position: absolute;
    top: 20px;
    left: 24px;
    font-size: 42px;
    animation: App-logo-spin infinite 20s linear;
}

.containAll .white {
    color: white
}

.containAll .menu {
    height: 100%;
    padding-top: 76px;
}

.containAll .switch {
    position: absolute;
    bottom: 4%;
    right: 5%;
}

.ant-layout-sider-trigger {
    display: none;
}

.ant-layout-header {
    margin-left: 16px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-layout-sider-collapsed .anticon {
  font-size: 20px;
}

.ant-layout-sider-collapsed .nav-text {
  display: none;
}