.leftMenu {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background: #fff;
    border-right: 1px solid #e9e9e9;
}

.leftMenu .github {
    position: absolute;
    top: 20px;
    left: 30px;
    font-size: 50px;
    animation: App-logo-spin infinite 20s linear;
}

.leftMenu .white {
    color: white
}

.leftMenu .menu {
    height: 100%;
    width: 220px;
    padding-top: 90px;
}

.leftMenu .switch {
    position: absolute;
    bottom: 4%;
    right: 10%;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}