{
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true,
      "modules": true
    }
  },
  "rules": {
    "indent": 0,
    "linebreak-style": ["error", "unix"],
    "semi": ["error", "never"],
    "react/prop-types": ["ignore"],
    "react/display-name": ["ignore"],
    "react/jsx-filename-extension": 0,
    "arrow-parens": 0,
    "import/no-unresolved": 0,
    "import/no-extraneous-dependencies": 0,
    "no-plusplus": 0,
    "no-param-reassign": 0,
  }
}